#body {
  background-color: #eee;
}

fieldset {
  padding: 1rem;
  border: 0.5 solid gray;
}

legend {
  padding: 2px 5px;
}

.row {
  margin-bottom: 1rem;
}

#button {
  display: flex;
  margin-top: 0.5rem;
  justify-content: center;
  align-items: center;
}