/* CONTEÚDO PRINCIPAL */
.main-content {
  text-align: center;
  margin-top: 100px;
}

.main-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
}


.main-content p {
  color: #555;
  margin-top: 10px;
  font-size: 1rem;
}

/* BOTÕES */
.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 0.95rem;
  font-weight: 500;
  text-decoration: none;
  transition: background 0.3s, border 0.3s;
}

.btn-primary {
  background-color: #0b5ed7;
  color: white;
}

.btn-primary:hover {
  background-color: #0b5ed7;
}

.btn-outline {
  border: 1px solid #ddd;
  color: #000;
  background-color: white;
}

.btn-outline:hover {
  background-color: #f9f9f9;
}

/* RODAPÉ */
footer {
  margin-top: 80px;
  text-align: center;
  padding: 15px;
  color: #777;
  font-size: 0.9rem;
}


@media (max-width: 1024px) {

  .main-content h1 {
    font-size: 2rem;
  }

  .main-content p {
    font-size: 1rem;
    padding: 0 20px;
  }

  .buttons {
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .buttons .btn {
    min-width: 180px;
  }
}

@media (max-width: 796px) {

  .main-content {
    max-width: 80%;
    margin: 3rem auto;
    padding: 1rem;
  }
}

@media (max-width: 480px) {

  .main-content h1 {
    font-size: 1.4rem;
  }

  .main-content p {
    font-size: 0.9rem;
  }
}