
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute; 
}

a:link, a:visited, a:active {
  width: 80%;
  padding: 0.8rem;
  margin: 10px 6px 10px;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  color: #272222;
  border-bottom: 1.5px solid #753109;
}

a {
  transition: all 0.5s ease-in-out;
}

a:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px rgb(117, 49, 9);
  color: #fff;
  background-color: #9f4009;
  opacity: 0.9;
}

footer {
  position: fixed;
}

@media (max-width: 1024px) {

  header > h1 {
    font-size: 1.8rem;
  }

  main {
    width: 80%;
  }

  a:link, a:visited, a:active {
    font-size: 1.3rem;
    width: 70%;
  }
}

@media (max-width: 720px){
  header > h1 {
    font-size: 1.6rem;
  }

  a:link, a:visited, a:active {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  header > h1 {
    font-size: 1.3rem;
  }

  a:link, a:visited, a:active {
    font-size: 1.1rem;
  }
}
