body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
  background-color: #ad460a;
  padding: 1%;
}

header {
  padding: 0.6%;
}

header > h1 {
  font-weight: 300;
}

footer {
  bottom: 0;
  left: 0;
}
